<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="view overlay rounded waves-light" mdbWavesEffect>
        <img
          src="{{ hotel.image }}"
          class="img-fluid"
          alt="Sample project image"
        />
        <span class="ribbon6" *ngIf="hotel.enpromo"
          >Promo : {{ hotel.promotion }} %</span
        >

        <a>
          <div class="mask rgba-white-slight"></div>
        </a>

        <h2 class="font-weight-bold mt-2 mb-3">{{ hotel.name }}</h2>
        <h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            size="lg"
            mdbWavesEffect
            style="font-size: medium"
          >
            <strong> Price : </strong>
            <span
              class="badge badge-secondary"
              [ngClass]="{ supp: hotel.enpromo }"
              >{{ hotel.nightprice }} DTN</span
            ></button
          ><span *ngIf="hotel.enpromo" class="card-price"
            >{{ getpromoprice(hotel.nightprice, hotel.promotion) }} DTN</span
          ><br /><br />
          <span *ngFor="let i of table(hotel.rating)">
            <i class="fas fa-star" style="color: yellow"></i>
          </span>
          <span *ngFor="let i of table1(hotel.rating)">
            <i class="far fa-star" style="color: yellow"></i>
          </span>
        </h1>
      </div>
    </div>
    <div class="flip-card-back">
      <mdb-card-body>
        <h1 class="font-weight-bold mt-2 mb-3" style="font-size: xx-large">
          {{ hotel.name }}
        </h1>
        <p>
          {{ hotel.description }}
        </p>
        <button
          mdbBtn
          type="button"
          gradient="peach"
          [block]="true"
          size="lg"
          mdbWavesEffect
        >
          <span style="font-size: xx-large">{{ hotel.rating }}</span> / 5
        </button>
        <br />
        <br />
        <span *ngFor="let i of table(hotel.rating)">
          <i class="fas fa-star" style="color: yellow; zoom: 3"></i>
        </span>
        <span *ngFor="let i of table1(hotel.rating)">
          <i class="far fa-star" style="color: yellow; zoom: 3"></i>
        </span>
        <br />
        <br />
        <a
          mdbBtn
          color="success"
          size="lg"
          [rounded]="true"
          class="waves-light"
          mdbWavesEffect
          (click)="frame.show()"
        >
          Check Rooms</a
        >
      </mdb-card-body>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal1">
      <app-reservation
        [hotel]="hotel"
        [destination]="destination"
      ></app-reservation>
    </div>
  </div>
</div>
