<div class="row d-flex justify-content-center">
  <div class="col-lg-6 col-xl-5 mb-3">
    <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
      <img
        src="{{ hotel.image }}"
        class="img-fluid"
        alt="Sample project image"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <mdb-card-body>
      <a href="" class="green-text">
        <h5 class="font-weight-bold mt-2 mb-3">
          <mdb-icon fas icon="chart-line"></mdb-icon> {{ hotel.name }}
        </h5>
      </a>
      <h4 class="font-weight-bold mt-2 mb-3">{{ hotel.name }}</h4>
      <p>
        {{ hotel.description }}
      </p>
      <a
        mdbBtn
        color="success"
        size="md"
        [rounded]="true"
        class="waves-light"
        mdbWavesEffect
      >
        Check Rooms</a
      >
    </mdb-card-body>
  </div>
  <div class="col-lg-6 col-xl-5 mb-3">
    <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
      <img
        src="{{ hotel.image }}"
        class="img-fluid"
        alt="Sample project image"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <mdb-card-body>
      <a href="" class="green-text">
        <h5 class="font-weight-bold mt-2 mb-3">
          <mdb-icon fas icon="chart-line"></mdb-icon> {{ hotel.name }}
        </h5>
      </a>
      <h4 class="font-weight-bold mt-2 mb-3">{{ hotel.name }}</h4>
      <p>
        {{ hotel.description }}
      </p>
      <a
        mdbBtn
        color="success"
        size="md"
        [rounded]="true"
        class="waves-light"
        mdbWavesEffect
      >
        Check Rooms</a
      >
    </mdb-card-body>
  </div>
</div>
