<div class="container background">
  <div class="row" *ngIf="index % 2 == 0">
    <!-- Grid column -->
    <div class="col-lg-5">
      <!-- Featured image -->
      <div
        class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light"
        mdbWavesEffect
      >
        <img
          class="img-fluid"
          src="{{ destination.image }}"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Category -->
      <a href="#!" class="green-text">
        <h6 class="font-weight-bold mb-3">
          <mdb-icon far icon="image" class="pr-2"></mdb-icon>
          {{ destination.abbreviation }}
        </h6>
      </a>
      <!-- Post title -->
      <div class="d-flex justify-content-center">
        <h1 class="font-weight-bold mb-3">
          <strong> {{ destination.name | uppercase }}</strong>
        </h1>
      </div>
      <!-- Excerpt -->
      <p>
        {{ destination.description }}
      </p>
      <div
        mdbBtn
        type="button"
        [block]="true"
        mdbWavesEffect
        style="background-color: rgba(0, 0, 255, 0.2)"
      >
        <span class="Price">
          Round-trip ticket : {{ destination.price | prix }}</span
        >
      </div>

      <br />
      <!-- Post data -->
      <!-- Read more button -->
      <div class="d-flex justify-content-center">
        <a
          mdbBtn
          color="success"
          mdbWavesEffect
          [routerLink]="['/destination', destination.name]"
          >Check For Hotels</a
        >
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row" *ngIf="index % 2 == 1">
    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3">
          <mdb-icon far icon="image" class="pr-2"></mdb-icon>
          {{ destination.abbreviation }}
        </h6>
      </a>
      <!-- Post title -->
      <div class="d-flex justify-content-center">
        <h1 class="font-weight-bold mb-3">
          <strong> {{ destination.name | uppercase }}</strong>
        </h1>
      </div>
      <!-- Excerpt -->
      <p>
        {{ destination.description }}
      </p>
      <div
        mdbBtn
        type="button"
        [block]="true"
        mdbWavesEffect
        style="background-color: rgba(0, 0, 255, 0.2)"
      >
        <span class="Price">
          Round-trip ticket : {{ destination.price | prix }}</span
        >
      </div>
      <br />
      <!-- Post data -->

      <!-- Read more button -->
      <div class="d-flex justify-content-center">
        <a
          mdbBtn
          color="pink"
          mdbWavesEffect
          class="mb-lg-0 mb-4"
          [routerLink]="['/destination', destination.name]"
          >Check For Hotels</a
        >
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">
      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img
          class="img-fluid"
          src="{{ destination.image }}"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-5" />
</div>
