<!--Navbar-->
<div>
  <mdb-navbar
    SideClass="navbar navbar-expand-lg navbar-dark unique-color fixed-top scrolling-navbar"
    [containerInside]="true"
  >
    <!-- Navbar brand -->
    <mdb-navbar-brand
      ><a class="navbar-brand" routerLink="/accueil"
        ><img
          src="assets/Logos/Logo.png"
          alt="Travel Agency"
          class="img"
        /><span>Around The World</span></a
      ></mdb-navbar-brand
    >

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link waves-light"
            routerLink="/admin"
            routerLinkActive="active"
            mdbWavesEffect
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light"
            routerLink="/Gestiondestination"
            routerLinkActive="active"
            mdbWavesEffect
            >Destination Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light"
            routerLink="/Gestionoffre"
            routerLinkActive="active"
            mdbWavesEffect
            >Offers Management</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown" dropdown>
          <a
            dropdownToggle
            mdbWavesEffect
            type="button"
            class="nav-link dropdown-toggle waves-light"
            mdbWavesEffect
          >
            <mdb-icon fas icon="user"></mdb-icon> {{ user | uppercase
            }}<span class="caret"></span
          ></a>
          <ul
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
            role="menu"
          >
            <li>
              <a
                class="dropdown-item waves-light"
                mdbWavesEffect
                (click)="deconnecter()"
                >Log out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
</div>
<!--/.Navbar-->
