<app-navbar></app-navbar>
<div
  id="container"
  class="bg-image"
  style="background-image: url('assets/Wallpaper1.jpg')"
>
  <i class="bi bi-file-lock-fill"></i>
  <br /><br />
  <div class="d-flex justify-content-center">
    <input
      type="email"
      class="form-control"
      id="FormControlInput1"
      placeholder="Email"
      #Email
    />
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <input
      type="text"
      class="form-control c"
      id="FormControlInput4"
      placeholder="First Name"
      #Prenom
    />
    <input
      type="text"
      class="form-control c"
      id="FormControlInput5"
      placeholder="Last Name"
      #Nom
    />
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <input
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      id="FormControlInput2"
      placeholder="Password"
      #MDP
    />
    <mat-icon
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      class="hide"
      >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
    >
  </div>
  <mdb-badge color="indigo"
    >Password must be at least 8 characters long with <br />
    1 uppercase 1 lowercase & 1 numeric character</mdb-badge
  >
  <br />
  <div class="d-flex justify-content-center">
    <input
      type="password"
      class="form-control"
      id="FormControlInput3"
      placeholder="Check Password"
      #VerifMDP
    />
  </div>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="
      authentification(
        Email.value,
        MDP.value,
        VerifMDP.value,
        Nom.value,
        Prenom.value
      )
    "
  >
    Sign Up
  </button>
  <br /><br />
  <a routerLink="/signin" class="link-light"
    >Already have an account ? Sign In</a
  >
</div>
