<div
  id="container"
  class="bg-image"
  style="background-image: url('assets/Wallpaper.jpg')"
>
  <i class="bi bi-file-lock-fill"></i>
  <br /><br />
  <div class="d-flex justify-content-center">
    <input
      type="email"
      class="form-control"
      id="FormControlInput1"
      placeholder="Addresse Email"
    />
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <input
      type="password"
      class="form-control"
      id="FormControlInput2"
      placeholder="Mot de passe"
    />
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <input
      type="password"
      class="form-control"
      id="FormControlInput3"
      placeholder="Verifier mot de passe"
    />
  </div>
  <br />
  <button type="button" class="btn btn-outline-dark">S'inscrire</button>
  <br /><br />
  <a routerLink="/signin" class="link-light">Vous avez déjà un compte? S'authentifier</a>
</div>
