#container {
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 15vh;
}
input,
button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: aliceblue;
  width: 25vw;
}
.c {
  width: 12.5vw;
}
i {
  zoom: 300%;
}
