<app-navbar></app-navbar>
<div
  style="
    background-image: url('https://st2.depositphotos.com/1747568/11982/v/950/depositphotos_119826600-stock-illustration-polygonal-vector-background-can-be.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <div style="margin-top: -3.5vh">
    <mdb-card
      class="my-4"
      style="background-color: rgba(255, 255, 255, 0.2); padding-top: 2vh"
    >
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <div class="d-flex justify-content-center">
          <img src="{{ destination.image }}" alt="city" />
        </div>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h2>
            <strong>{{ destination.name }}</strong>
          </h2>
        </mdb-card-title>
        <h5 class="indigo-text">
          <strong>{{ destination.abbreviation }}</strong>
        </h5>
        <mdb-card-text class="p">
          {{ destination.description }}
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <section class="section text-center">
      <h1 class="font-weight-bold h1 py-5">
        <strong>Our Best Hotels</strong>
      </h1>
      <form class="form-inline md-form mr-auto mb-4">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          #name
          style="margin-left: 4vw"
        />
        <button
          type="button"
          mdbBtn
          size="sm"
          gradient="blue"
          [rounded]="true"
          class="my-0 waves-light"
          mdbWavesEffect
          (click)="getHotelByName(name.value)"
        >
          Search
        </button>
        <!-- Material unchecked -->
        <div class="form-check form-check-inline" style="margin-left: 1vw">
          <label
            class="form-check-label"
            for="materialInline1"
            style="margin-top: 2vh; color: azure"
          >
            On discount</label
          >
          <input
            type="radio"
            class="form-check-input"
            id="materialInline1"
            name="inlineMaterialRadiosExample"
            mdbInput
            style="margin-left: 5vw"
            (click)="getDiscountHotels()"
          />
        </div>
        <div class="form-check form-check-inline" style="margin-left: 1vw">
          <label
            class="form-check-label"
            for="materialInline1"
            style="margin-top: 2vh; color: azure"
          >
            No discount</label
          >
          <input
            type="radio"
            class="form-check-input"
            id="materialInline1"
            name="inlineMaterialRadiosExample"
            mdbInput
            style="margin-left: 5vw"
            (click)="getNoDiscountHotels()"
          />
        </div>
        <div class="form-check form-check-inline" style="margin-left: 1vw">
          <label
            class="form-check-label"
            for="materialInline1"
            style="margin-top: 2vh; color: azure"
          >
            All hotles</label
          >
          <input
            type="radio"
            class="form-check-input"
            id="materialInline1"
            name="inlineMaterialRadiosExample"
            mdbInput
            style="margin-left: 5vw"
            (click)="getAllhotels()"
          />
        </div>
      </form>
      <mat-grid-list cols="2" rowHeight="1:1" *ngIf="count != 0">
        <mat-grid-tile *ngFor="let hotel of cityhotels" class="cards">
          <app-hotel [hotel]="hotel" [destination]="destination"></app-hotel>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="count == 0" class="container">
        <img src="assets/NoResultFound.png" alt="NoResultFound" />
      </div>
    </section>
  </div>
</div>
