<app-navbar></app-navbar>
<div
  style="
    background-image: url('https://www.teahub.io/photos/full/93-938757_75-web-website-background-color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <div style="margin-top: -3.5vh">
    <mdb-card
      class="my-4"
      style="background-color: rgba(255, 255, 255, 0.2); padding-top: 2vh"
    >
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <div class="d-flex justify-content-center">
          <img src="{{ destination.image }}" />
        </div>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h4>
            <strong>{{ destination.name }}</strong>
          </h4>
        </mdb-card-title>
        <h5 class="indigo-text">
          <strong>{{ destination.abbreviation }}</strong>
        </h5>
        <mdb-card-text>
          {{ destination.description }}
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <section class="section text-center">
      <h2 class="font-weight-bold h1 py-5">
        <strong>Our Best Hotels</strong>
      </h2>
      <div *ngFor="let hotel of hotels; index as i">
        <app-hotel [hotel]="hotel" [nb]="i"></app-hotel>
      </div>
    </section>
  </div>
</div>
