<div class="d-flex justify-content-center">
  <div class="card mb-3 div">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title h1">About Us</h1>
          <h4>
            ‘Around The World’ <br />

            ‘Around The World’ is Tunisia’s biggest online transport ticketing
            stage that has changed transport travel in the nation by conveying
            straightforwardness and comfort to a great many Tunisias who travel
            utilizing transports. Established in 2006, ‘Around The World’ is a
            piece of Tunisia’s driving on the web travel organization XYZ
            Limited By giving the most stretched out decision, predominant
            client benefit, least costs, and unmatched advantages, ‘Around The
            World’ has served more than 8 million clients. ‘Around The World’
            has a worldwide nearness with activities crosswise over USA separated from Tunisia.
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/Accueill/AboutUs.jpg" class="img-fluid" alt="AboutUs" />
      </div>
    </div>
  </div>
</div>
