<!-- Section: Blog v.1 -->
<section class="my-1">
  <!-- Section heading -->
  <div class="row justify-content-center" style="margin: 0px;">
    <div class="col-4">
      <h1 class="h1-responsive font-weight-bold text-center my-4">
        OUR DESTINATIONS
      </h1>
    </div>
    <div class="col-4">
      <form class="form-inline md-form mr-auto mb-4">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          #name
          style="margin-left: -5vw"
        />
        <button
          type="button"
          mdbBtn
          size="sm"
          gradient="blue"
          [rounded]="true"
          class="my-0 waves-light"
          mdbWavesEffect
          (click)="getDestinationByName(name.value)"
        >
          Search
        </button>
        <h4>Price :</h4>
        <button
          type="button"
          mdbBtn
          size="sm"
          gradient="blue"
          [rounded]="true"
          class="my-0 waves-light"
          mdbWavesEffect
          (click)="PrixCroissantDestination()"
        >
          <i class="bi bi-arrow-up-square-fill fa-2x"></i>
        </button>
        <button
          type="button"
          mdbBtn
          size="sm"
          gradient="blue"
          [rounded]="true"
          class="my-0 waves-light"
          mdbWavesEffect
          (click)="PrixDecroissantDestination()"
        >
          <i class="bi bi-arrow-down-square-fill fa-2x"></i>
        </button>
      </form>
    </div>
  </div>
  <div *ngFor="let destination of destinations; index as i">
    <app-onedestination
      [destination]="destination"
      [index]="i"
    ></app-onedestination>
  </div>
  <div *ngIf="count == 0" class="container">
    <img src="assets/NoResultFound.png" alt="NoResultFound" />
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->
