<!-- Section: Blog v.1 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <div *ngFor="let destination of destinations; index as i">
    <app-onedestination
      [destination]="destination"
      [index]="i"
    ></app-onedestination>
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->

