<app-navbar></app-navbar>
<div
  id="container"
  class="bg-image"
  style="background-image: url('assets/Wallpaper1.jpg')"
>
  <i class="bi bi-file-lock-fill"></i>
  <br /><br />
  <div class="d-flex justify-content-center">
    <input
      type="email"
      class="form-control"
      id="FormControlInput1"
      placeholder="Email"
      #Email
    />
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <input
      type="password"
      class="form-control"
      id="FormControlInput2"
      placeholder="Password"
      #MDP
    />
  </div>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="authentification(Email.value, MDP.value)"
  >
    Sign in
  </button>
  <br /><br />
  <a routerLink="/signup" class="link-light">
    You do not have an account ? Register now</a
  >
</div>
