<!-- Footer -->
<footer class="page-footer font-small unique-color pt-4">
  <!-- Footer Elements -->

  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">For More Info</h5>
      </li>
      <li class="list-inline-item">
        <a
          type="button"
          mdbBtn
          color="white"
          [outline]="true"
          [rounded]="true"
          class="waves-light"
          mdbWavesEffect
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          >Contact Us</a
        >
      </li>
    </ul>

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a mdbBtn [floating]="true" color="fb" class="mx-1" mdbWavesEffect href="https://www.facebook.com/Ysboui7/">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn [floating]="true" color="tw" class="mx-1" mdbWavesEffect href="https://www.facebook.com/Ysboui7/">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn [floating]="true" color="gplus" class="mx-1" mdbWavesEffect href="https://www.facebook.com/Ysboui7/">
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn [floating]="true" color="li" class="mx-1" mdbWavesEffect href="https://www.facebook.com/Ysboui7/">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          mdbBtn
          [floating]="true"
          color="dribbble"
          class="mx-1"
          mdbWavesEffect
          href="https://www.facebook.com/Ysboui7/"
        >
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a type="button" href="https://TravelAgency.com/"> TravelAgency.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <app-contact></app-contact>
    </div>
  </div>
</div>
