button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: aliceblue;
  width: 25vw;
}

h2{
  font-size: x-large;
}
input,p,h2,label{
  color: black;
  font-family: "Times New Roman", Times, serif;
}
