<mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
  <mdb-card-body class="z-depth-2">
    <!--Header-->
    <div class="text-center">
      <h3 class="dark-grey-text">
        <strong>Write to us:</strong>
      </h3>
      <hr />
    </div>
    <!--Body-->
    <div class="md-form">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input type="text" id="form3" class="form-control" mdbInput #name />
      <label for="form3">Your name</label>
    </div>
    <div class="md-form">
      <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
      <input type="text" id="form2" class="form-control" mdbInput #mail />
      <label for="form2">Your email</label>
    </div>
    <div class="md-form">
      <input type="text" id="form4" class="form-control" mdbInput #subject />
      <label for="form4">Your Subject</label>
    </div>
    <!--Textarea with icon prefix-->
    <div class="md-form">
      <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
      <textarea
        type="text"
        id="form8"
        class="md-textarea form-control"
        mdbInput
        #text
      ></textarea>
      <label for="form8">Your message</label>
    </div>
    <div class="text-center mt-3">
      <button
        mdbBtn
        color="indigo"
        mdbWavesEffect
        (click)="sendmail(name.value, mail.value, subject.value, text.value)"
      >
        Send
      </button>
      <hr />
    </div>
  </mdb-card-body>
</mdb-card>
