<app-navbar></app-navbar>
<div
  style="
    background-image: url('https://st2.depositphotos.com/1747568/11982/v/950/depositphotos_119826600-stock-illustration-polygonal-vector-background-can-be.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
      <img
        class="d-block w-100"
        src="https://cutewallpaper.org/21/black-friday-wallpapers/Black-Friday-Pictures-and-HD-Wallpapers.png"
        alt="First slide"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        class="d-block w-100"
        src="https://w7.pngwing.com/pngs/328/994/png-transparent-polhawn-fort-marketing-service-company-business-special-offer-company-text-computer-wallpaper.png"
        alt="Second slide"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        class="d-block w-100"
        src="https://c0.wallpaperflare.com/preview/222/515/749/a-discount-stock-sale-new-year-s-eve.jpg"
        alt="Third slide"
      />
    </mdb-carousel-item>
  </mdb-carousel>

  <div class="d-flex justify-content-center" *ngFor="let offre of offres">
    <app-offre-card [offre]="offre"></app-offre-card>
  </div>

  <app-footer></app-footer>
</div>
