<app-adminnavbar></app-adminnavbar>
<div class="d-flex justify-content-between">
  <div style="padding: 2vh">
    <br />
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      ADD DESTINATION
    </button>
    <br />
    <br />
    UPDATE OR DELETE DESTINATION :
    <br />
    <select
      class="form-select"
      placeholder="Choose your option"
      aria-label="Default select example"
      #city
    >
      <option selected value="none">Chose The City</option>
      <option *ngFor="let des of destinations" [value]="des.name">
        {{ des.abbreviation }}
      </option>
    </select>
    <br />
    <div *ngIf="city.value != 'none'">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
        (click)="destinationSelect(city.value)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
      >
        Delete
      </button>
    </div>
  </div>
  <app-mapp></app-mapp>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      >
      <div class="modal-body">
        <app-ajoutdestination></app-ajoutdestination>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      >
      <div class="modal-body">
        <app-updatedestination [city]="destination"></app-updatedestination>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ARE YOU SURE YOU WANT TO DELETE THIS DESTINATION ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="destinationDelete(city.value)"
          data-bs-dismiss="modal"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
