<app-adminnavbar></app-adminnavbar>
<div class="d-flex justify-content-between">
  <div style="padding: 2vh">
    <br />
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      ADD DESTINATION
    </button>
    <br />
    <br />
    UPDATE OR DELETE DESTINATION :
    <br />
    <select
      class="form-select"
      placeholder="Choose your option"
      aria-label="Default select example"
      #city
    >
      <option selected value="none">Chose The City</option>
      <option *ngFor="let des of destinations" [value]="des.name">
        {{ des.abbreviation }}
      </option>
    </select>
    <br />
    <div *ngIf="city.value != 'none'">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
        (click)="destinationSelect(city.value)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#basicExample"
        (click)="frame.show()"
        mdbWavesEffect
      >
        Delete
      </button>
    </div>
  </div>
  <app-mapp></app-mapp>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-ajoutdestination></app-ajoutdestination>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-updatedestination [city]="destination"></app-updatedestination>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon
          fas
          icon="times"
          size="4x"
          class="animated rotateIn"
        ></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a
          href="https://mdbootstrap.com/docs/b5/angular/pro/"
          mdbBtn
          color="danger"
          [outline]="true"
          class="waves-effect"
          mdbWavesEffect
          (click)="destinationDelete(city.value)"
          >Yes</a
        >
        <a
          type="button"
          mdbBtn
          color="danger"
          class="waves-effect"
          mdbWavesEffect
          data-dismiss="modal"
          (click)="frame.hide()"
          >No</a
        >
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
