<app-adminnavbar></app-adminnavbar>
<div class="d-flex justify-content-between">
  <div style="padding: 2vh">
    <br />
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      ADD DESTINATION
    </button>
    <br />
    <br />
    UPDATE OR DELETE DESTINATION :
    <br />
    <select
      class="form-select"
      placeholder="Choose your option"
      aria-label="Default select example"
      #city
    >
      <option selected value="none">Chose The City</option>
      <option *ngFor="let des of destinations" [value]="des.name">
        {{ des.abbreviation }}
      </option>
    </select>
    <br />
    <div *ngIf="city.value != 'none'">
      <button type="button" class="btn btn-warning">Update</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <app-mapp></app-mapp>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      >
      <div class="modal-body">
        <app-ajoutdestination></app-ajoutdestination>
      </div>
    </div>
  </div>
</div>
