<app-navbar></app-navbar>
<div
  class="view"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/89.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <app-caroussel></app-caroussel>
  <br />
  <app-about-us></app-about-us>
  <app-cards></app-cards>
  <br />
  <div class="d-flex justify-content-center">
    <img src="assets/Accueill/cities-travel.gif" alt="cities" />
  </div>
  <br />
  <app-footer></app-footer>
</div>
